
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background-color:#f5f2ee;
    font-family:Arial, sans-serif;
    color:#5f4b3a;
}
body {
  background-image: url("bg.jpg");
}



.navbar{
    background-color:#5e4e40;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    width:75px;
    height:75px;
    object-fit:cover;
    border-radius:15px;
}

.nav-links{
    display:flex;
    gap: 70px;
    list-style:none;
    align-items: center;
}

.nav-links a{
    text-decoration:solid;
    color:white;
    font-size:25px;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.nav-links a:hover{
    color:#bc9d79;
}


main{
    padding:40px;
}
.contact-page{
    padding:40px;
    text-align:center;
}

.contact-page h1{
    font-size:50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom:20px;
    color:#5e4e40;
    font-weight:bolder;
}

.contact-text{
    font-size:20px;
    line-height:1.7;
    margin-bottom:35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#5f4b3a;
}


.contact-form{
    max-width:700px;
    margin:auto;
    background-color:rgba(255,255,255,0.9);
    padding:40px;
    border-radius:20px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.15);

    display:flex;
    flex-direction:column;
}

.contact-form label{
    text-align:left;
    margin-top:18px;
    margin-bottom:8px;

    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#5e4e40;
    font-weight:bold;
}

.contact-form input,
.contact-form textarea{
    padding:14px;
    border:2px solid #bc9d79;
    border-radius:12px;

    font-size:16px;
    font-family: Arial, sans-serif;

    background-color:#fdfaf7;
    color:#5f4b3a;
}

.contact-form textarea{
    resize:none;
}


.contact-form button{
    margin-top:30px;
    padding:15px;

    background-color:#5e4e40;
    color:white;

    border:none;
    border-radius:12px;

    font-size:20px;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background-color:#bc9d79;
}